<header class="js-header b-header b-header__center">
    <div class="u-clear-fix b-wrapper">
        <a href="index.html" class="b-logo"></a>
        <div class="b-button__box">
            <a href="#" class="js-call-calc b-button">
                <span>Расчитать Стоимость</span>
            </a>
        </div>
    </div>
</header>