<div class="js-page-bar b-page-bar b-page-bar_r b-page-bar__hide">
    <div class="b-social__box">
        <ul class="u-clear-fix b-social">
            <li>
                <a href="{{ content('contacts.social.facebook') }}" target="_blank" class="b-social__link">Facebook</a>
            </li>
            <li>
                <a href="{{ content('contacts.social.youtube') }}" target="_blank" class="b-social__link">Youtube</a>
            </li>
            <li>
                <a href="{{ content('contacts.social.vimeo') }}" target="_blank" class="b-social__link">Vimeo</a>
            </li>
            <li>
                <a href="{{ content('contacts.social.instagram') }}" target="_blank" class="b-social__link">Instagram</a>
            </li>
        </ul>
    </div>
</div>